scikit-learn==1.2.1
xgboost>=1.7.3
gurobipy
mip
optuna
python-Levenshtein
scipy
pandas
pyodbc
numpy
psutil
Django>=3.0,<4.0
psycopg2>=2.8
datetime
djangorestframework
django-cors-headers
django-import-export